<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button style="visibility: hidden;" class=" top-bar__more d-none d-lg-block js-toggle" toggle-target="#navbar">
            <!-- Ở đây mà để nhiều dấu chấm trước assets -->
            <!-- Thì vẫn chạy được -->
            <!-- Vì nó ghép vào index.html -->
            <!-- Lúc này nhảy nhiều cấp ra ngoài -->
            <!-- Thì tối đa là ra đến cấp thư mục gốc -->
            <!-- Thì cũng sẽ là ở index -->
            <!-- Nên vẫn chạy được -->
            <!-- Còn đem lên github thì sẽ bị lỗi -->
            <img src="./assets/icons/more.svg" alt="" class="icon top-bar__more-icon" />
        </button>

        <!-- Logo -->
        <a style="padding-right: 20px" href="./" class="logo top-bar__logo">
            <!-- Lưu ý src chỉ 1 dấu . -->
            <!-- Dùng theo gợi ý là 2 dấu chấm -->
            <!-- Mà nội dung của file này sẽ paste ra index.html -->
            <!-- Nên 1 dấu chấm mới đúng -->
            <img src="./assets/icons/logo.svg" alt="CafeCraft" class="logo__img top-bar__logo-img" />
            <h1 class="logo__title top-bar__logo-title">CafeCraft</h1>
        </a>

        <!-- Navbar -->


        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>

        <!-- Actions -->
        <div class="top-act">
            <a href="#!" class="user-menu__link" id="switch-theme-btn" style="margin-right: -20px">
                <img src="./assets/icons/sun.svg" alt="" class="icon user-menu__icon" style="margin-bottom: -5px;" />
            </a>
            <a href="./sign-in.html" class="btn btn--text d-md-none">Sign In</a>
            <a href="./sign-up.html" class="top-act__sign-up btn btn--primary">Sign Up</a>
        </div>
    </div>
</div>